# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)
type(number)

6

##### Assinging float

In [2]:
number_float = 6.0
print(number_float)

6.0

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1=2
num2=6.5
output=num1 + num2
print(output)
type(output)
type(num1)
output += 2 #output = output + 2
print(output)

8.5
10.5

##### Subtraction

In [12]:
output_diff = num2 - num1
print(output_diff)
type(output_diff)

output_diff -=3
print(output_diff)

4.5
1.5

##### Multiplication

In [14]:
num1 = 2
num2 = 6.5
output_mult = num1*num2
print(output_mult)
output_mult *=2
print(output_mult)

13.0
26.0

##### Division

In [16]:
output_div = num2/num1
print(output_div)
output_div /=3.25
print(output_div)

3.25
1.0

##### Floor Division

In [19]:
output_floor =num2//num1
print(output_floor)
output_floor //=1.6
print(output_floor)

3.0
1.0

##### Modulo

In [24]:
num1 = 5
num2 = 13
output_div = num2 / num1
print(output_div)

output_mod = num2 % num1
print(output_mod)
#13/5 is 2 w/ a remainder of 3 
output_mod %=2
print(output_mod)

2.6
3
1

##### Exponential

In [26]:
square = 5 ** 2
print(square)
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name ="young"
print(name)

young

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
print("This is my first name:", name, 1, end ='')
print('hello')

This is my first name: young 1hello

##### String Concatenation

In [37]:
first= 'john'
last= 'smith'
full = first + " " + last
print(full)

# shorthand
full += " jr."
print(full)

john smith
john smith jr.

##### Type Conversion

In [40]:
num_str ='32'
num_str_to_int =int(num_str)
num_str_to_int +64

96

##### input()

In [46]:
# input function will always return a str
name = input('What is your name')
print(name)
age = input('What is your age?')
your_age_in_5_years = int(age) + 5
print(your_age_in_5_years)

What is your nameyoung
young
What is your age?22
27

##### format()

In [50]:
age = input('What is your age?')
results_string = 'you are {}, {}, and you are getting wiser' .format(age,name)
print(results_string)

new_string=f'{age} is a great time in life, {name}!!'
print(new_string)

What is your age?22
you are 22, young, and you are getting wiser
22 is a great time in life, young!!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [63]:
color = input("what color?")
year = input("what year?")
make = input("what make?")
model = input("what model?")
car_result1= 'I have a {} {} {} {}'.format(color, year, make, model)
print(car_result1)

car_result2= f'My car is a {model} {year} {color} {make}' 
print(car_result2)

what color?a
what year?s
what make?d
what model?f
I have a a s d f
My car is a f s a d

### If Statements

In [72]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F
num1=8
num2=5
if num2==num1:
    print('Equal Values')
else:
    print('not equal')
    
if num2>num1:
    print('num2 is greater')
elif num1>num2:
    print('num 1 is greater')
elif num1>num2+1:
    print('even bigger')
else: 
    print('they are equal')

not equal
num 1 is greater

##### 'is' keyword

In [76]:
num3 =55
num4 =55
num5 = num4
print(num5)
num4=21
print(num5)
print(num4)

if num3 is num4:
    print('num3 is num 4')

55
55
21

##### 'in' keyword

In [82]:
char_name = 'Harry Potter'
if "Harry" in char_name:
    print("the boy who lived..")
    
list1=[1,2,3,4, "hello"]
if "h" in list1:
    print('h is in list')

the boy who lived..

##### 'not in' keyword'

In [83]:
sega_char ="sonic"
if "a" not in sega_char:
    print("a is NOT in here")

a is NOT in here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [88]:
is_letter = input('give me an input')
if 'p' in is_letter:
    print('p is in the input')
elif'p' not in is_letter:
    print('p is not in the input')

give me an inputho
p is not in the input

## Using 'and'/'or' with If Statements

In [6]:
# 0 empty string (''), empty list([]), and dictionary/set and False have a truthiness of False
#all other numbers and non-empty strings/lists/dictionaries, and sets have a truthiness of True

num1 = 15
num2 = 3
num3 = 10
num4 =3
if num1/5 == num2 and num3-7 == num4:
    print("True and True")

if num1/5 == num3 or num3 - 7==num4:
    print('at least 1 statement is true')

True and True
at least 1 statement is true

### Elif Statements

In [9]:
first_name = "young"
if first_name== 'john':
    print('the first name is John')
elif first_name != 'young':
    print('the name is not young')
else:
    print('the name is young')

the name is young

### Else Statements

In [ ]:
# see above

### For Loops

In [16]:
name = 'young choi'
# for <var_name> in <iterator>:
for letter in name:
    print(letter)

for index in range(len(name)):
    print(index, name[index])

y
o
u
n
g

c
h
o
i
0 y
1 o
2 u
3 n
4 g
5
6 c
7 h
8 o
9 i

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [17]:
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [18]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [22]:
for i in range(10):
    if i ==5:
        pass #implement something here
    print(i)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [23]:
for i in range(3):
    for j in range(3):
        print (f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=1, j=0
i=1, j=1
i=1, j=2
i=2, j=0
i=2, j=1
i=2, j=2

### While Loops

In [27]:
num =0
while num<=5:
    print(num)
    num = num+1

0
1
2
3
4
5

##### Looping 'While True'

In [30]:
game_over = False
while True:
    print('infinite loop')
    answer = input("are you ond playing? (yes/no)")
    if answer.lower() == 'yes':
        break

infinite loop
are you ond playing? (yes/no)no
infinite loop
are you ond playing? (yes/no)nah
infinite loop
are you ond playing? (yes/no)yes

##### While & For Loops Used Together

In [33]:
num =0
while num < 5:
    print("while loop iteration",num)
    
    for i in range(2):
        print("For loop iteration", i)
    
    num +=1

while loop iteration 0
For loop iteration 0
For loop iteration 1
while loop iteration 1
For loop iteration 0
For loop iteration 1
while loop iteration 2
For loop iteration 0
For loop iteration 1
while loop iteration 3
For loop iteration 0
For loop iteration 1
while loop iteration 4
For loop iteration 0
For loop iteration 1

### Built-In Functions

##### range()

In [38]:
#syntax for range(start, stop, step)
#stop and step are optional
for i in range(0,10,2):
    print(i)

0
2
4
6
8

##### len()

In [40]:
name ='young'
length =len(name)
print(length)

5

##### help()

In [41]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [45]:
age = '4.0'
print(isinstance(age,str))

True

##### abs()

In [48]:
print(abs(-10))

10

### Try and Except

In [ ]:
while True:
    try: 
        number_test=3
        input_num = int(input("Guess a number between 1-10!"))
        if input_num != number_test:
            print("you guessed incorrectly")
        else:
            print("correct!")
            break
    
    except SyntaxError:
  #      pass
        print("Syntax Error, make sure you spelled things correctly")
    except ValueError:
        print("Value Error, make sure your values are a number")
    except:
        print('other error, not sure what went wrong, try again')

### Lists

##### Declaring Lists

In [19]:
names = ['jerry', 'shoha', 'olivia', ' peter', 'dan', 'chien']
type(names)

list

##### Indexing a List

In [20]:
names = ['jerry', 'shoha', 'olivia', ' peter', 'dan', 'chien']
print(names[3][2])
print(names[1:7:2])
print(names[-1])

e
['shoha', ' peter', 'chien']
chien

##### .append()

In [21]:
names.append('new')
print(names)

['jerry', 'shoha', 'olivia', ' peter', 'dan', 'chien', 'new']

##### .insert()

In [22]:
names.insert(2,'ivan')
print(names)

['jerry', 'shoha', 'ivan', 'olivia', ' peter', 'dan', 'chien', 'new']

##### .pop()

In [23]:
popped_student1=names.pop()
print(names)
print(popped_student1)
names.pop(2)
print(names)

['jerry', 'shoha', 'ivan', 'olivia', ' peter', 'dan', 'chien']
new
['jerry', 'shoha', 'olivia', ' peter', 'dan', 'chien']


##### .remove()

In [28]:
list2 = ['jay', 'jane', 'jo', 'young', 'bob']
while 'bob' in list2:
    list2.remove('bob')
    print(list2)

['jay', 'jane', 'jo', 'young']

##### del()

In [30]:
#index to be removed, not the value
#be careful while using del, bc it can cause indexing errors
new_names =['jay', 'jane', 'jo', 'young', 'bob']
for i in range(len(new_names)):
    print(new_names)
    del(new_names[0])

['jay', 'jane', 'jo', 'young', 'bob']
['jane', 'jo', 'young', 'bob']
['jo', 'young', 'bob']
['young', 'bob']
['bob']

##### Concatenating Two Lists

In [34]:
l2 = [0,2, 8]
l3 = [3,4,5]
big_list = l2 + l3
print(big_list)

[0, 2, 8, 3, 4, 5]

##### Lists Within Lists

In [35]:
names = ['one', 'two', 'three', ['four', 'five', 'six']]
print(names[3])
print(names[3][2])

['four', 'five', 'six']
six

##### Looping Through Lists

In [45]:
names = ['one', 'two', 'three',['four', 'five', 'six']]
for i in range(len(names)):
    if isinstance(names[i],list):
        for name in names[i]:
            print(name)
        else:
            print(names[i])

four
five
six
['four', 'five', 'six']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [84]:
for cube in range(100):
    cube= cube**3
    if cube <= 1000:
        print(cube)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [108]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
prime=0
while prime<100:
    prime +=1
    if prime==2 or prime==3 or prime==5 or prime==7:
        print(prime)
    elif prime > 7 and prime %2 !=0 and prime %3 !=0 and prime %5 !=0 and prime %7 !=0:
        print(prime)

    
#if it's divisible by 2, 3, 5 or 7 it is not a prime number

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [83]:
age = input("what is your age")
if age < str(0):
    print("do not use a negative number")
if age < str(18) and age>= str(0):
    print("kids")
elif age >= str(18) and age <= str(65):
    print("adults")
elif age > str(65):
    print("seniors")

what is your age-5
do not use a negative number